
<div style="display: flex; justify-content: space-between; width: 100%; padding-top: 5px">
    <div style="width: 30%;" data-label="Date">
        {% assign weekday = include.event.date | date: "%A" %}
        {% assign day = site.data.days.pt_br[weekday] %}

        {{ day }} ({{ include.event.date | date: "%d/%m" }})
    </div>

    <div style="width: 30%;" data-label="Event">
        <b>L{{ include.event.index }}</b>: {{ include.event.title }}
        <div class="schedule-lecture-links">
        {% include lecture_links.html lecture=include.event %}
        </div>
    </div>

    <div style="width: 30%;" class="markdown-content" data-label="Course Material">
        <!-- {% if include.event.suggested_readings %}
        <p style="margin-bottom: 2px">Suggested Readings:</p>
        <ul>
            {% for m in include.event.suggested_readings %}
            <li class="raw_li">{% if m.url %}<a href="{{ m.url }}">{{ m.title }}</a>{% else %}{{ m.title }}{%
                endif %}</li>

            {% endfor %}
        </ul>
        {% endif %} -->

        {% if include.due %} 
            {{include.due.description}}  
        {% endif %}
    </div>
    
</div>